@media screen and (max-width: 800px) {
  .row td {
    width: 98%;
    display: block;
    margin-bottom: 25px;
  }
  .content{
    position: relative;
    top: 0;
    left: 0;
    -ms-transform: translate(0%, 5%);
    transform: translate(0%, 5%);
  }
}
.row h3{
    margin-block-end:0.5em;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 1.5px;
    font-size: min(1.4rem,5vmin);
}
.row h4{
    margin-block-start:0.5em;
    margin-block-end:0.75em;
    font-family: 'Truculenta', sans-serif;
    font-size: min(1.2rem,4vmin);
}
